a:hover {
	text-decoration: none;
	font-size: 14;
}

a {
	outline: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

img {
	border-style: none;
}

#body {
	border-style: none;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 155px;
	border: hidden;
	height: 100%;
	min-width: 1200px;
}

.content {
	position: relative;
	padding: 0px 55px;
	height: 100%;
}

