a:hover {
	text-decoration: none;
	font-size: 14;
}

body {
	min-width: 1024px;
}

.borderedBlock {
	border: #DEDEDE;
	color: blue;
	border-width: thin;
	padding: 10px;
}

.borderedBlockContent { /* background: #DEDEDE; */
	color: blue;
	font-weight: bold;
	border-width: thin;
	padding: 10px 10px 20px 10px;
}

#top {
	min-width: 1024px;
	position: absolute;
	background: black;
	color: white;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 115px;
	background: black
}

#navbar {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background: #4F4F4F;
	height: 50px;
}

#navbar table {
	left: 10px;
	position: inherit;
	border-collapse: collapse;
	padding: 0 10px 0 10px;
}

#navbar table a {
	text-decoration: none;
	color: white;
}

#navbar td {
	font-size: 14px;
	font-family: Helvetica;
	padding: 0px 10px 0px 10px;
	height: 25px;
}

#navbar td:HOVER {
	background: #9B9B9B;
	cursor: pointer;
}

#logo {
	position: absolute;
	padding: 15px 0 0 15px;
	font-size: 30px;
	font-weight: bold;
}

#login {
	position: absolute;
	text-align: right;
	right: 15px;
	font-size: 14px;
	font-weight: normal;
	margin: 5px 0 0 0;
}

#login span {
	font-weight: bold;
	font-size: 20px;
}

#middle {
	margin-top: 117px;
}

#left {
	padding: 10px;
	vertical-align: top;
	width: 180px;
	height: 120px;
	border-right: 3px double #C1CBD4;
}

#content {
	vertical-align: top;
	width: auto;
	height: 100%;
}

#footer {
	margin-top: 10px;
	text-align: center;
}

table.tablesorter {
	border: 1px solid #C1CBD4;
	font-family: arial;
	background-color: #CDCDCD;
	margin: 10px 0 0 0;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	color: #3D3D3D;
	font-weight: normal;
	font-family: arial;
}

table.tablesorter thead tr th,table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}

table.tablesorter tbody {
	background-color: #FFF;
}

table.tablesorter tbody .odd {
	background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

table.tablesorter thead tr .headerSortDown,table.tablesorter thead tr .headerSortUp
	{
	background-color: #8dbdd8;
}